@import "tailwindcss";

@theme {
    --color-primary: #1BC47D;
    --color-secondary: #FFFFFF;
    --color-accent: #111316;
    --color-tertiary: #6C7484;
    --color-card-bg: #1a1d24;
    --color-info-bg: #B2BEB5;
}

@layer components {
    .btn-primary {
        background-color: theme(colors.primary);
        color: theme(colors.accent);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition: background-color 0.2s;
    }
    .btn-primary:hover {
        background-color: theme(colors.tertiary);
    }
}
